/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --color-pink-1: #ff0070;
  --color-pink-2: #db00ff;
  --color-pink-3: #f1b2ce;

  --theme-swithc-hover: #FF007066;
  --color-dark-blue: #000028;

  --font-family: 'IBM Plex Mono', monospace;
  --font-size: 18px;

  --background-image: url("../images/cover-image-dark.png");
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}


.theme-dark .header__decoration {
    opacity: 1;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-pink-1: #ff0070;
        --color-pink-2: #db00ff;
        --color-pink-3: #f1b2ce;

        --theme-swithc-hover: #FF007066;
        --color-dark-blue: #000028;

        --font-family: 'IBM Plex Mono', monospace;
        --font-size: 18px;

        --background-image: url("../images/cover-image-dark.png");
    }

    .theme-dark .header__decoration { 
      
        opacity: 1;
    }

    .theme-auto .header__decoration {    
      /* показывание значка REC при теменой теме авто режима */
        opacity: 1;
    }
}
