/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
    --decorated-zone: #FF0070;
    --theme-menu-button: #FF0070;
    --theme-menu-hover: #FF007066;
    --logo-title-color: #DB00FF;
    --section-title-color: #000028;
    --title-decor-color: #FF0070;
    --article-title-color: #FF0070;
    --article-text-color: #F1B2CE;

    --font-family: 'IBM Plex Mono', monospace;
    --font-size: 18px;

    --cover-image: url("../images/cover-image-dark.png");
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

.theme-dark .header__decoration {
    opacity: 1;
}

@media (prefers-color-scheme: dark) {
    :root {
        --decorated-zone: #FF0070;
        --theme-menu-button: #FF0070;
        --theme-menu-hover: #FF007066;
        --logo-title-color: #DB00FF;
        --section-title-color: #000028;
        --title-decor-color: #FF0070;
        --article-title-color: #FF0070;
        --article-text-color: #F1B2CE;

        --font-family: 'IBM Plex Mono', monospace;
        --font-size: 18px;

        --cover-image: url("../images/cover-image-dark.png");
    }

    .theme-auto .header__decoration {
        opacity: 1;
    }
}
