@media (768px <= width) {
  .header,
  .footer {
    padding: var(--page-padding);
  }

  .decorated-zone::before {
    bottom: var(--page-padding);
    left: var(--page-padding);
  }

  .decorated-zone::after,
  .header__decoration {
    top: var(--page-padding);
    right: var(--page-padding);
  }

  .header-title {
    position: relative;
    left: calc(-1 * var(--page-padding));
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header-text {
    margin-left: auto;
    width: 50%;
  }

  .main {
    gap: 80px;
    margin: 60px 0;
    padding: 0 var(--page-padding);
  }

  .section:first-of-type {
    grid-template-columns: max-content 1fr;
  }

  .section:first-of-type .section-title {
    grid-row: span 2;
  }
  
  .section:nth-of-type(3) .section-title {
    grid-row: span 3;
  }

  .section:not(.concentration, .pictures) .article-title,
  .section:not(.concentration, .pictures) .article-text {
    grid-column: 2 / -1;
  }

  .concentration .article-title,
  .concentration .article-text {
    grid-column: span 1;
  }

  .pictures {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, min-content);
    gap: 20px;
  }
  
  .pictures .title-decor {
    grid-column: span 3;
  }

  .pictures-collage {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    gap: 20px;
  }

  .sunset {
    grid-column: span 2;
    grid-row: 1;
  }

  .ice-cream {
    grid-column: 3;
    grid-row: span 2;
  }

  .tape {
    grid-column: 1;
    grid-row: span 2;
  }

  .books {
    grid-column: 2;
    grid-row: 2;
  }

  .street {
    grid-column: span 2;
    grid-row: 3;
  }

  .footer-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (1024px <= width) {
  .header__theme-menu {
    margin: 0 auto auto;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .concentration {
    grid-template-columns: repeat(3, 1fr);
  }

  .concentration .article-title,
  .concentration .article-text {
    grid-column: auto;
  }

  .concentration .article-title {
    grid-row: 2;
  }

  .concentration .article-text {
    grid-row: 3;
    margin: 0;
  }
}
