/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  
  --color-pink-1: #ff0070;
  --color-pink-2: #db00ff;
  --color-pink-3: #ff007040;
  --color-pink-4: #f1b2ce;
  
}
