/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  
  --color-pink-1: #ff0070;
  --color-pink-2: #db00ff;
  --color-pink-3: #f1b2ce;
  --color-pink-4: #ff8dcb;
  --color-pink-5: #ffc2e6;
  --color-pink-6: #fff1f7;

  --color-dark-blue: #000028;
  
  --color-grey: #353430;

  --font-family: 'IBM Plex Mono', monospace;
  --font-size: 18px;

  --background-image: url("../images/cover-image-dark.png");
}
