/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  
  --decorated-zone: #FF0070;
  --theme-menu-button: #FF0070;
  --theme-menu-hover: #FF007066;
  --logo-title-color: #DB00FF;
  --section-title-color: #000028;
  --title-decor-color: #FF0070;
  --article-title-color: #FF0070;
  --article-text-color: #F1B2CE;

  --font-family: 'IBM Plex Mono', monospace;
  --font-size: 18px;
  --font-size-no-focus: 157px;

  --page-padding: 10px;

  --cover-image: url("../images/cover-image-dark.png");
}

:root {

  --decorated-zone: #353430;
  --theme-menu-button: #353430;
  --theme-menu-hover: #35343066;
  --logo-title-color: #FFC2E6;
  --section-title-color: #353430;
  --title-decor-color: #FF8DCB;
  --article-title-color: #353430;
  --article-text-color: #353430;

  --font-family: 'IBM Plex Mono', monospace;
  --font-size: 18px;
  --font-size-no-focus: 157px;

  --page-padding: 10px;

  --cover-image: url("../images/cover-image-dark.png");
}

@media(min-width: 768px) {

  :root {

    --page-padding: 20px;

  }
}

